/*-Footer Menu-*/
#footer-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 98;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: $translucentLight;
  display: flex;
  min-height: 61px;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 350ms ease !important;

  a {
    color: $color-dark;
    padding-top: 12px;
    position: relative;
    flex: 1 1 auto;
    text-decoration: none;

    span {
      position: relative;
      z-index: 2;
      display: block;
      font-size: 10px;
      font-weight: 500;
      margin-top: -6px;
      opacity: 0.7;
      font-family: $font-main-family !important;
    }

    i {
      font-size: 18px;
      position: relative;
      z-index: 2;
    }

    svg {
      transform: translateY(-6px);
      font-size: 18px;
      position: relative;
      z-index: 2;
    }
  }

  .badge {
    font-style: normal;
    z-index: 5;
    top: 0px;
    position: absolute;
    margin-left: 3px;
    color: $color-white !important;
    width: 18px;
    text-align: center;
    line-height: 18px;
    padding: 0px;
    border-radius: 18px;
    margin-top: 7px;
    font-size: 11px;
  }
}

.footer-bar-6 {
  margin-left: -3px;

  span {
    font-size: 11px !important;
  }

  i {
    transform: translateY(-2px);
    opacity: 0.7;
  }

  .circle-nav {
    strong {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      left: 50%;
      top: -23px;
      z-index: 0;
      transform: translateX(-50%);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.09);
      animation: footerAni 1s infinite;
      background-image: $defaultGradient;
    }

    @keyframes footerAni {
      0% {
        transform: scale(1, 1) translateX(-50%);
      }
      50% {
        transform: scale(1.05, 1.05) translateX(-48%);
      }
    }

    span {
      font-size: 11px !important;
      margin-top: -8px !important;
    }

    i {
      transform: translateY(-21px) translateX(0px);
      color: #fff !important;
      opacity: 1 !important;
      font-size: 20px !important;
      position: relative;
      z-index: 2;
    }

    svg {
      width: 25px !important;
      height: 25px !important;
      stroke: #fff !important;
      fill: rgba(255, 255, 255, 0.1) !important;
      transform: translateY(-25px) translateX(-1px) !important;
      position: relative;
      z-index: 2;
    }

    u {
      position: absolute;
      left: 0px;
      right: 0px;
      width: 50px;
      border-radius: 50px;
      height: 50px;
      z-index: 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .active-nav {
    // // ✅ Option 1: Yellow border bottom
    // border-bottom: 3px solid yellow;
    // padding-bottom: 4px;

    // ✅ Option 2: Uncomment if using <em /> element
    em {
      position: absolute;
      width: 60px;
      height: 4px;
      border-radius: 60px;
      left: 50%;
      top: 57px;
      transform: translateX(-50%);
      background-image: linear-gradient(
        to bottom,
        #ff9800 0%,
        #ff9800 100%
      ) !important;
    }
  }
}
